<template>
  <form
    class="card p-4 mb-5"
    :class="`has-background-${bgColor}-dark`"
  >
    <label v-if="label" class="label has-text-white">{{ label }}</label>
      <div class="field">
          <div class="control">
              <input
                v-model="modelValue.title"
                class="input"
                placeholder="Title"
                ref="newArticleRef"
              >
          </div>
      </div>
      <div class="field">
          <div class="control">
              <textarea
                v-model="modelValue.content"
                class="textarea"
                :placeholder="contentPlaceholder"
              />
          </div>
          <div class="has-text-grey-light mt-2">
          </div>
      </div>

      <div class="field is-grouped is-grouped-right">
          <div class="control">
              <slot name="buttons" />
          </div>
      </div>
  </form>
</template>

<script setup>
/**
 * props
 */
const props = defineProps({
  modelValue: {
    type: Object,
    required: true,
  },
  bgColor: {
    type: String,
    default: 'success'
  },
  contentPlaceholder: {
    type: String,
    default: 'Type something...'
  },
  label: {
    type: String,
  }
});
</script>