<template>
    <div class="card mb-5">
        <header class="card-header">
            <RouterLink
                :to="`/article/${article.id}`"
                class="card-header-title"
            >
                {{ article.title }}
            </RouterLink>
        </header>
        <div class="card-content">
            <div class="content">
                {{ article.content }}
            </div>
        </div>
        <footer class="card-footer">
            <RouterLink :to="`/edit-article/${article.id}`" class="card-footer-item">
              Edit
            </RouterLink>
            <a
              @click.prevent="modals.deleteArticle=true"
              class="card-footer-item"
              href="#"
            >
                Delete
            </a>
        </footer>

        <ModalDeleteArticle
          v-model="modals.deleteArticle"
          v-if="modals.deleteArticle"
          :articleId="article.id"
        />
    </div>
</template>

<script setup>
/**
 * imports
 */
import { reactive } from 'vue';
import { useRouter } from 'vue-router';
import ModalDeleteArticle from '@/components/Articles/ModalDeleteArticle.vue';

/**
 * router
 */
const router = useRouter();

/**
 * props
 */
const props = defineProps({
    article: {
        type: Object,
        required: true,
    }
});

/** modals */
const modals = reactive({
  deleteArticle: false,
});
</script>