<template>
  <div class="modal is-active p-2">
    <div class="modal-background"></div>
    <div ref="modalCardRef" class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete Article?</p>
        <button @click="closeModal" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        Are you sure you want to delete this Article?
      </section>
      <footer class="modal-card-foot is-justify-content-flex-end">
        <button @click="articlesStore.deleteArticle(articleId)" class="button is-danger">
          Delete
        </button>
        <button @click="closeModal" class="button">
          Cancel
        </button>
      </footer>
    </div>
  </div>
</template>

<script setup>
/** imports */
import { ref, onMounted, onUnmounted } from 'vue';
import { onClickOutside } from '@vueuse/core';
import { useArticlesStore } from '@/stores/Articles';

/** props */
const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
  articleId: {
    type: Number,
    required: true,
  }
});

/** emits */
const emit = defineEmits(['update:modelValue']);

/** store */
const articlesStore = useArticlesStore();

const closeModal = () => {
  emit('update:modelValue', false);
};

/** click outside to close modal */
const modalCardRef = ref(null);
onClickOutside(modalCardRef, closeModal);

/** keyboard control */
const handleKeyboard = e => {
  console.log('closeModal');

  if (e.key === 'Escape') closeModal();
};

onMounted(() => {
  document.addEventListener('keyup', handleKeyboard);
});

onUnmounted(() => {
  document.removeEventListener('keyup', handleKeyboard);
});
</script>