<template>
    <div class="category-archive">
        <h1 class="title is-2">
            ({{ articlesCount }}) Articles in:
            <span class="is-underlined">{{ category.cat_name }}</span>
        </h1>
        <Article
            v-for="article in articlesStore.articles" 
            :key="article.id"
            :article="article"
            @deletedArticle="retrieveArticles"
        />
    </div>
</template>

<script setup>
/** imports */
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import Article from '@/components/Articles/Article.vue';
import ArticleDataService from '@/services/ArticleDataService';
import CategoryDataService from '@/services/CategoryDataService';
import { useArticlesStore } from '@/stores/Articles';

/** store */
const articlesStore = useArticlesStore();

/** route */
const route = useRoute();

/** category */
const category = ref({});
const retrieveTheCategory = (id) => {
    CategoryDataService.get(id)
        .then(response => {
            category.value = response.data.results;
        })
        .catch(e => console.log(e));
};

/** article */
const retrieveArticlesByCategory = id => {
    ArticleDataService.filterByCategory(id)
      .then(response => {
        articlesStore.articles = response.data.results;
      })
      .catch(e => console.log(e));
};

const articlesCount = computed(() => {
    return articlesStore.articles.length;
});


onBeforeMount(() => {
    retrieveTheCategory(route.params.id);
    retrieveArticlesByCategory(route.params.id);
});
</script>