<template>
  <div class="edit-article">
    <AddEditArticle
      v-model="articleContent"
      bgColor="link"
      contentPlaceholder="Edit article"
      label="Edit article"
    >
        <template #buttons>
          <button
            @click="$router.push('/')"
            class="button is-link is-light mr-4"
          >
              Cancel
          </button>
          <button
            @click="handleSaveClicked"
            class="button is-link has-background-link"
            :disabled="!articleContent.content"
          >
              Save Article
          </button>
        </template>
      </AddEditArticle>
  </div>
</template>

<script setup>
/**
 * import
 */
import { onBeforeMount, reactive } from 'vue';
import AddEditArticle from '@/components/Articles/AddEditArticle.vue';
import { useArticlesStore } from '@/stores/Articles';
import { useRoute, useRouter } from 'vue-router';
import ArticleDataService from '@/services/ArticleDataService';


/**
 * router
 */
const route = useRoute();
const router = useRouter();

/**
 * store
 */
const articlesStore = useArticlesStore();

/**
 * article
 */
const articleContent = reactive({
  title: '',
  content: '',
});

const retrieveArticle = (id) => {
  ArticleDataService.get(id)
    .then(response => {
      const {title, content} = response.data.results;

      articleContent.title = title;
      articleContent.content = content;
    })
    .catch(e => console.log(e));
};

onBeforeMount(() => {
  retrieveArticle(route.params.id);
});

/**
 * save clicked
 */
const handleSaveClicked = () => {
  ArticleDataService.update(route.params.id, articleContent)
    .then(response => {
      router.push('/'); // redirect to articles page
    })
    .catch(e => console.log(e));
};
</script>