<template>
    <div class="article">
        <div class="card" v-if="articleLoaded">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{ article.title }}</p>
                        <RouterLink
                            :to="`/category/${articleCategory.id}`"
                          v-if="articleCategory.id"
                          class="subtitle is-6 mr-2 is-underlined"
                        >
                            {{ articleCategory.cat_name }}
                        </RouterLink>,
                        <time
                          v-if="article.created_at"
                          class="subtitle is-6"
                        >
                            {{ createdAt }}
                        </time>
                    </div>
                </div>
                <div class="content">
                    {{ article.content }}
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
/**
 * imports
 */
import { computed, onBeforeMount, reactive, ref } from 'vue';
import { useRoute } from 'vue-router';
import ArticleDataService from '@/services/ArticleDataService';
import prettyMilliseconds from 'pretty-ms';

const articleLoaded = ref(false);

/** route */
const route = useRoute();

/** article */
const article = reactive({
    title: '',
    content: '',
    created_at: '',
    updated_at: '',
});

/** category */
const articleCategory = reactive({
    id: '',
    cat_name: '',
});

const retrieveArticle = (id) => {
    ArticleDataService.get(id)
        .then(response => {
            const {title, content, category, created_at, updated_at} = response.data.results;

            article.title = title;
            article.content = content;
            article.created_at = created_at;
            article.updated_at = updated_at;

            if (category) {
                articleCategory.id = category.id;
                articleCategory.cat_name = category.cat_name;
            }

            articleLoaded.value = true;
        })
        .catch(e => console.log(e));
};

/** pretty-ms */
const createdAt = computed(() => {
    const timestamp = Date.now() - Date.parse(article.created_at);
    const time = prettyMilliseconds(timestamp, {
        compact: true,
        verbose: true
    });

    return `${time} ago`;
});

onBeforeMount(() => {
    retrieveArticle(route.params.id);
});
</script>