<template>
    <div class="articles">
      <AddEditArticle
        v-model="newArticle"
        contentPlaceholder="Add a new article"
      >
        <template #buttons>
          <button
            @click="addArticle(newArticle)"
            :disabled="!newArticle.content"
            class="button is-link has-background-success"
          >
              Add New Article
          </button>
        </template>
      </AddEditArticle>

        <Article
            v-for="article in articlesStore.articles" 
            :key="article.id"
            :article="article"
        />
    </div>
</template>

<script setup>
/**
 * imports
 */
import { reactive, ref, computed, onBeforeMount } from 'vue';
import Article from '@/components/Articles/Article.vue';
import AddEditArticle from '@/components/Articles/AddEditArticle.vue';
import { useArticlesStore } from '@/stores/Articles';

/**
 * store
 */
const articlesStore = useArticlesStore();

/**
 * Articles
 */
const newArticle = reactive({
    title: '',
    content: ''
});

const addArticle = article => {
    articlesStore.addArticle(article);

    newArticle.title = '';
    newArticle.content = '';
};

/**
 * Character length
 */
const characterLength = computed(() => {
    const length = newArticle.content.length;
    const text = length > 1 ? 'Characters' : 'Character';

    return `${length} ${text}`;
});

/**
 * hooks
 */
onBeforeMount(() => {
    articlesStore.retrieveArticles();
});
</script>